@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
	--nav-height: 6vh;
	--font-color: #ebebeb;
	--title-color: white;

	--btn-color: rgb(40, 202, 162);

	--bg-color: rgb(30, 30, 51);
	--bg-head: rgb(61, 61, 123);

	--offer-color: #171a30;
	/* 	--services-hover: rgb(13, 134, 122); */
	/* 	--services-hover: rgb(72, 76, 100); */
	--services-hover: rgb(255, 255, 255);

	--color-text: rgb(1, 230, 191);
	--link-color: rgb(145, 24, 214);
	--skills-color: rgb(0, 255, 200);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	scroll-behavior: smooth;
	/* 	background-color: rgb(12, 12, 12); */
	background-color: var(--bg-color);
	width: 100%;
	font-family: "Poppins", sans-serif;
}
a {
	text-decoration: none;
	color: inherit;
}
.color {
	color: var(--color-text);
}
li {
	list-style: none;
}
nav {
	height: var(--nav-height);
	background: linear-gradient(
		to right,
		rgba(0, 0, 0, 0.3),
		rgba(255, 255, 255, 0.3)
	);
	display: flex;
	position: absolute;
	top: 0;
	align-items: center;

	width: inherit;
	z-index: 13;
	color: var(--font-color);
}
nav ul a {
	z-index: 11;
}
header {
	text-align: center;
	/* 	background: linear-gradient(
		rgba(15, 90, 78, 0.685) 2%,
		rgba(31, 109, 73, 0.527),
		rgba(20, 97, 74, 0.5),
		rgba(36, 185, 172, 0.363)
	); */
	overflow: hidden;
	color: white;
	min-height: 300px;
	height: 70vh;
	display: grid;
	grid-template-rows: repeat(3, 2fr, auto);
	z-index: 12;
	justify-content: center;
	align-items: center;
	row-gap: 2rem;
	background-color: var(--bg-head);
	position: relative;
	box-shadow: 0 -1px 4px 0px white;
}
.background {
	width: 110%;
	overflow: hidden;
	height: 110%;
	position: absolute;
	/* 	background-image: url(../images/tom-morbey-TRuZWO_kaEY-unsplash.jpg);
 */
	background-position: center;
	background-image: url(../images/ravi-roshan-fKddmPKvv9U-unsplash.jpg);

	background-size: cover;

	opacity: 0.7;
	background-repeat: no-repeat;
	filter: blur(28px) brightness(0.3);
	z-index: 1;
	margin: 0;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 0;
}
.header_main {
	z-index: 1;
	display: grid;
}
main {
	width: 100%;
	min-height: 100vh;

	/* 	background: black; */
}
#projects,
#services,
#about {
	top: -100%;
	z-index: -1;
	position: absolute;
	opacity: 0;
	width: 100%;
	left: 0;
}
/* #about {
	position: relative;
} */
.sect {
	overflow: hidden;
	z-index: 0;
	width: 100%;
}

header img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
	filter: none;
	justify-self: center;
	box-shadow: 0px 0px 3px -2px white;
}
.name {
	margin-top: 1rem;
	color: var(--title-color);
	font-size: 1.8rem;
}

.bio {
	margin: 0.6rem 0;
}
/* 
section {
	height: 100vh;
} */
section {
	color: var(--font-color);
}

.nav_opt {
	position: absolute;
	bottom: 0;
	height: 8vh;
	z-index: 2;
	width: 100%;
	/* 	background: linear-gradient(to right, #163133, #1b282b); */
}
.nav_opt ul {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: space-evenly;
	/* color: var(--font-color); */
}
.nav_opt li:hover {
	color: white;
}
.active {
	color: white;
}
.active::before {
	content: "";
	width: 15px;
	height: 15px;
	background-color: var(--btn-color);
	box-shadow: 0 0 8px -1px lime;
	border-radius: 50%;
	margin: -2px 9px;
	display: inline-block;
}

/* sec-title */

#projects .section-title,
#services .section-title,
.about-info-title {
	text-transform: uppercase;
	text-align: center;
	font-size: 2rem;
	margin: 2rem auto 3rem;
}

.section-subtitle,
.section-subtitle-1 {
	/* 	text-shadow: 0 0 10px blue; */
	text-transform: uppercase;
}
.about-section-title {
	text-align: center;
	font-size: 2rem;
	margin: 1rem auto 2rem;
}

/* about */
#about {
	color: var(--font-color);
}
.about_cont {
	display: flex;
	flex-direction: column;
}
.about_cont,
.skills_cont,
.work_cont {
	padding: 40px 20px;
}

.about_cont2 {
	display: grid;
	margin-top: 1rem;
	grid-template-columns: repeat(1, 2fr 1fr);
	width: 100%;
}
.about-text {
	display: grid;
	width: 100%;

	align-content: center;
}
.about-info {
	width: 100%;
	justify-content: center;
	display: grid;
	row-gap: 0.5rem;
	align-items: center;
	justify-content: center;
	column-gap: 0.7rem;
	grid-auto-flow: row;
	grid-template-columns: repeat(auto-fit, minmax(90px, auto));
}
.about-info-title {
	font-weight: 600;
	font-size: larger;
}
.about-descr {
	width: 90%;
	margin-top: 2rem;
	justify-self: end;
}
/* .about_cont .section-title {
	border-bottom: 1px black solid;
} */
.about-descr {
	line-height: 30px;
}
.about-info-sub {
	font-size: smaller;
	padding: 0 20px;
	text-align: center;
	width: 100%;
}
.about-descr-2 {
	color: var(--font-color);
	width: 90%;
	margin: auto;
}

/*skills */
.skills {
	line-height: 22px;

	font-size: smaller;
}
/* .skills-name {
	font-size: smaller;
} */
.skills_cont {
	width: 95%;

	margin: 3rem auto;
}
.skills_data {
	display: flex;
	margin: 10px 0 0 3px;
	justify-content: space-between;
	text-transform: uppercase;
}
.progress {
	background-color: var(--skills-color);
	box-shadow: 0 0 6px var(--skills-color);
	height: 10px;
	border-radius: 6px;
	margin-top: 4px;
	transition: 0.5s;
	width: 0%;
}

/*  */
.line .section-title,
.about2 .section-title,
.about3 .section-title,
.about4 .section-title {
	font-size: 2rem;
	margin-bottom: 1rem;
}
.line .section-title {
	margin-bottom: 3rem;
}
/* work */
.about4 {
	color: var(--font-color);
}
.about4 .section-subtitle {
	font-size: x-large;
	font-weight: bold;
}
.about4 .section-subtitle {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 4rem;
}
.work_cont {
	width: 100%;

	margin-bottom: 2rem;
	height: 100%;
}
/* .work_cont p:not(.recent) {
	width: 80%;
} */
.work_cont:nth-child(1) {
	text-align: center;
}

.timeline {
	margin: 20px auto 0;
}

.timeline li p:nth-child(1):before {
	content: "";

	display: inline-block;
	width: 11px;
	height: 11px;
	-moz-border-radius: 7.5px;
	-webkit-border-radius: 7.5px;
	border-radius: 7.5px;
	margin: 0 5px;
	background-color: rgb(22, 236, 147);
	box-shadow: 0px 0px 3px 0 white;
}
.timeline-descr {
	font-size: smaller;
	text-align: left;
}
.timeline p:nth-child(2) {
	text-align: left;
	margin-top: 5px;
	font-size: medium;
	padding-left: 14px;
}

.timeline ul {
	display: flex;
	justify-content: space-around;
}
.timeline li {
	row-gap: 0.6rem;
	letter-spacing: 1px;
	/* margin-bottom: 2rem; */
	/* display: flex; */
	width: fit-content;
	width: -webkit-fill-available;
	flex-direction: column;
	align-items: center;
	/* margin-right: 50px; */
}
.timeline-title:not(#first):not(.first-entry)::before {
	content: "";
	display: block;
	border-top: 1px solid black;
	width: 98px;
	height: 2px;
	float: right;
	/* margin-left: 9px; */
}

.timeline-title {
	margin-bottom: 0.5rem;
}
.timeline-descr a {
	cursor: pointer;
}
.timeline-descr a:hover {
	color: #4a1fb1;
}

.recent {
	text-align: center;
	width: 100%;
	font-size: small;

	/* 	border-bottom: 1px solid grey;
 */
}
.contact-btn {
	/* border: 1px solid rgb(255, 255, 255); */
	padding: 7px 10px;
	width: 100px;
	margin: 1rem auto;
	background: var(--btn-color);
	color: rgb(255, 255, 255);
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
}
.contact-btn:hover {
	box-shadow: 0 0 10px -2px rgb(142, 204, 204);
}

.contact-btn:active {
	box-shadow: 0 0 10px -2px rgb(142, 204, 204);
}
.about-title,
.skills-title,
.recent,
.projects-title {
	font-weight: bold;
}
.about4 .services_cont {
	display: flex;
}
.about4 .services_cont .services_content {
	width: 220px;
	margin: 0 10px;
}

/* projects */

.projects_cont {
	width: 100%;
	padding: 40px 50px;
}
.projects-cards {
	margin: 1rem auto;
	display: grid;

	/* 	grid-template-columns: 50% 50%; */
	column-gap: 1rem;
	row-gap: 1rem;
	justify-items: self-start;

	/* 	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
 */
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	grid-auto-flow: row;
}

.projects-title {
	font-size: large;
	margin-top: 4rem;
}
.projects-card {
	width: 180px;
	height: 240px;
	overflow: hidden;
	position: relative;
	margin: auto;
	background: rgb(21, 21, 21);
}

.projects-card img {
	position: absolute;
	opacity: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.hover-card {
	position: absolute;
	opacity: 1;
	width: 100%;
	height: 100%;

	z-index: 1;
	background-color: rgba(5, 3, 22, 0.863);
}
.projects-descr {
	position: absolute;
	top: 0%;
	opacity: 1;
	text-align: center;
	width: 100%;
	font-weight: 300;
	color: whitesmoke;
	text-transform: uppercase;
	font-size: small;
	margin-top: 20%;
	letter-spacing: 2px;
	z-index: 2;
}

.projects-card:hover .hover-card {
	transition: 0.4s;
	top: 100%;
	opacity: 0;
}
.projects-card:hover .projects-descr {
	transition: 0.5s;
	top: 100%;
	opacity: 0;
}
.project-link {
	text-align: right;
}

.project-offer {
	margin-top: 7rem;
	background-color: var(--offer-color);
	color: white;
	border-radius: 15px;
	text-align: center;
	display: grid;
	row-gap: 1rem;
	justify-content: center;
}
.project-offer-title {
	font-size: 1.4rem;
	padding-top: 1rem;

	font-weight: bolder;
}
.project-offer li {
	margin-bottom: 1rem;
}

/* services */
.services_cont {
	width: 100%;
	padding: 40px 50px;
}

.services_content {
	padding: 1.5rem 0.5rem;
	border-radius: 0.5rem;
	border: 2px solid var(--first-color);
	text-align: center;
}

.services_icon {
	font-size: 2rem;
	padding: 0.5rem;
	/* 	background-color: var(--offer-color); */
	color: var(--font-color);
	border-radius: 50%;
	margin-bottom: var(--m-2);
}

.services_title {
	font-size: 1.25rem;
	/* color: var(--first-color-dark); */
	/* 	text-shadow: 0 0 3px var(--first-color-dark); */
	margin-bottom: var(--m-1);
}

.services_content,
.services_icon,
.services_description,
.services_title {
	transition: 0.3s;
}

.services_content:hover {
	background-color: var(--services-hover);
	color: var(--offer-color);
	box-shadow: 0px 0px 10px -1px #42365f;
}

.services_content:hover .services_icon {
	background-color: var(--first-color-lighten);
	color: var(--offer-color);
}

.services_content:hover .services_title,
.services_content:hover .services_description {
	color: var(--offer-color);
}

/* footer */

footer {
	height: 10vh;
	/* background: linear-gradient(to right, rgb(94, 118, 196), rgb(19, 14, 82)); */
	background-color: rgb(7, 7, 7);
	position: relative;
	bottom: 0%;
	color: var(--font-color);
	width: 100%;
	margin-top: 8rem;
	text-align: center;
}

.project-link:hover,
.services-link:hover,
.nav_opt li:hover,
.home_social i:hover {
	color: var(--link-color);
}
.contact-btn:hover {
	background-color: var(--link-color);
	box-shadow: 0px 0px 13px var(--link-color);
}

/* contact */

.contact {
	height: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 0;
	transform: translateY(-100%);
	position: absolute;
	width: 100%;
	z-index: -1;
	padding-top: 60px;
}
.contact .section-title {
	margin: 1rem auto;
	font-size: 1.7rem;
}

.contact p {
	margin-top: 20px;
	width: 60%;
	line-height: 30px;
}

form {
	padding: 30px 0;
	position: relative;
	justify-content: center;
	width: 80%;
	margin: auto;
	text-align: center;
	/* 	color: var(--font-color); */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

label {
	text-align: center;
	margin: 9px 0px;
	font-weight: bold;
	font-size: 25px;
	color: rgb(161, 161, 161);
	letter-spacing: 2px;
	text-transform: capitalize;
	line-height: 35px;
}
textarea {
	margin-top: 20px;
	background-color: var(--services-hover);
	padding: 0px 5px;
	/* 	border: thin solid rgb(97, 97, 97); */
	border: none;
	justify-content: center;
	width: 60%;
	/* overflow: scroll; */
	/*	background-color:rgba(0, 0, 0, 0.315);
*/
	border-radius: 8px;
	/* c */
	resize: none;
	font-size: large;
}
#message {
	font-size: large;
}
::placeholder {
	color: grey;
}

.contact button {
	margin-top: 20px;
	margin-bottom: 10px;
	width: 190px;
	height: 40px;
	background-color: var(--btn-color);
	color: var(--services-hover);
	border-radius: 8px;
	font-size: large;
	/* 	border: thin solid rgb(97, 97, 97); */
	/* 	background-color: transparent; */
	border-radius: 7px;
}
.templates a:hover,
button:hover {
	color: fuchsia;
	cursor: pointer;
}
input {
	width: 60%;
	margin-top: 4px;
	height: 40px;
	border-radius: 8px;
	justify-content: center;
	background-color: var(--btn-color);
	color: var(--font-color);
	padding-left: 11px;
	font-size: 18px;
	/* 	border: thin solid rgb(97, 97, 97); */
	border: none;
}

input::placeholder {
	color: grey;
}

.success {
	display: block;
	position: absolute;
	justify-content: center;
	align-items: center;
	font-size: large;
	left: 50%;
	transform: translate(-50%);
	animation: status 2s ease forwards;
	color: rgb(70, 136, 235);
	bottom: 16%;
}

@keyframes status {
	0% {
		opacity: 1;
		pointer-events: all;
	}
	90% {
		opacity: 1;
		pointer-events: all;
	}
	100% {
		opacity: 0;
		pointer-events: none;
	}
}

:focus {
	box-shadow: 0 0 2px 0px purple;
	outline: none;
}

.contact_cont {
	border-radius: 3rem;
}
.contact_input {
	width: 100%;
	padding: 1rem;
	outline: none;
	color: #000;
	border: none;
	background-color: #a5a5a5;
	font-weight: normal;
	font-size: medium;
	margin-bottom: 2rem;
	border-radius: 0.5rem;
}

.contact_input::placeholder {
	/* 	color: var(--first-color-dark); */
	/* 	text-shadow: 0 0 3px var(--first-color-dark); */
	/* 	font-family: var(--body-font); */
	font-weight: normal;

	color: #616161;
}
.contact_button {
	outline: none;
	border: none;
	/* 	font-family:; */
	font-size: medium;
	cursor: pointer;
}

.contact_info {
	margin-bottom: -2rem;
}

.contact_subtitle {
	font-size: 2rem;
	/* 	color: var(--first-color-dark); */
	text-shadow: 0 0 3px var(--first-color-dark);
	margin-bottom: 1rem;
}
.contact_text {
	display: block;
	padding-left: 1rem;
}
select:invalid {
	color: #d6d6d6;
}

@media screen and (max-width: 600px) {
	.about_cont2 {
		grid-template-columns: repeat(1, 1fr);
		row-gap: 2rem;
	}
	.about-descr {
		margin: auto;
	}
}
/* @media screen and (min-width: 689px) {
	.projects-cards {
		grid-template-columns: repeat(3, minmax(180px, 1fr));
		justify-content: unset;
	}
	.about4 .services_cont {
		display: flex;
		justify-content: space-evenly;
	}
} */
@media screen and (max-width: 340px) {
	.about4 .services_cont {
		margin-top: 2rem;
		padding: 0;
	}
	.about4 .services_cont .services_content {
		margin: 0;
	}
	.about-descr,
	.about-descr-2 {
		width: 100%;
	}
	.line .section-title {
		margin-bottom: 3rem;
		text-align: center;
	}
	.about-descr {
		margin-top: 20px;
		line-height: 30px;
	}
	.about-descr-2 {
		line-height: 30px;
	}
	.about-info {
		margin-top: 30px;
	}
	.work-text-content {
		margin-bottom: 40px;
	}
	.line .section-title {
		margin-bottom: 2rem;
	}
	.projects-cards {
		row-gap: 2rem;
	}

	.timeline {
		margin: 0;
	}
	.timeline ul {
		width: 40%;
		/* margin: auto; */
		position: relative;
		left: 15%;
		flex-direction: column;
	}
	.timeline li {
		margin: 10px 0;
	}
	.timeline-descr {
		text-align: center;
	}
	.timeline-title:not(#first):not(.first-entry)::before {
		content: "";
		border-top: none;
	}
	.timeline-title:not(#first):not(.first-entry)::after {
		content: "";
		display: block;
		border-top: none;
		border-left: 2px solid rgb(0, 0, 0);
		/* width: 2px; */
		height: 80px;
		float: left;
		/* margin-left: 9px; */
	}
	.timeline p:nth-child(2) {
		padding-left: 9px;
		text-align: center;
	}
	.line .section-title {
		margin-bottom: 3rem;
		text-align: center;
	}
}

@media screen and (min-width: 370px) {
	.about4 .services_cont {
		padding: 0;
	}
	.timeline-descr {
		text-align: center;
	}
	.timeline ul {
		width: 100%;
	}
	.timeline ul li {
		min-width: 120px;
		padding: 0 7px;
		word-break: normal;
	}

	.timeline p:nth-child(2) {
		padding-left: 8px;
	}
	.line .section-title {
		margin-bottom: 3rem;
		text-align: center;
	}
	.about-descr {
		margin-top: 20px;
		line-height: 30px;
	}
	.about-descr-2 {
		line-height: 30px;
	}
	.about-info {
		margin-top: 30px;
	}
	.work-text-content {
		margin-bottom: 40px;
	}
	.line .section-title {
		margin-bottom: 2rem;
	}
	.projects-cards {
		row-gap: 2rem;
	}
}
@media screen and (min-width: 600px) {
	.sect2 {
		width: 90%;
		margin: auto;
	}
	.about_cont2 {
		display: block;
	}
	.about-descr,
	.about-descr-2 {
		width: 100%;
	}
	.about-info {
		margin-top: 55px;
	}
	.projects_cont,
	.about_cont,
	.skills_cont,
	.work_cont {
		padding: 40px 70px;
	}

	.section-title,
	.work-text-content {
		text-align: center;
	}
	.project-link {
		justify-content: flex-end;
		text-align: right;
	}
	.websites {
		margin-top: 5rem;
	}
	.about4 .services_cont {
		display: flex;
		justify-content: space-evenly;
	}
}

@media screen and (min-width: 1024px) {
	.timeline {
		width: 60%;
	}
	.timeline ul {
		display: block;
	}
	.timeline li {
		row-gap: 0.3rem;
		letter-spacing: 1px;
		/* margin-bottom: 2rem; */
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.timeline-title:not(#first):not(.first-entry)::before {
		content: "";
		display: block;
		border-left: 1px solid black;
		width: 10px;
		height: 100px;
		float: left;
		margin-left: 9px;
		border-top: none;
	}

	nav {
		height: 7vh;
	}

	header,
	.background {
		height: 100vh;
		position: absolute;
		width: 100%;
	}
	.sect {
		transform: translateY(-100%);
		position: absolute;
		width: 100%;
	}
	.sect2 {
		width: 80%;
		margin: auto;
	}
	.name {
		margin-top: 2rem;
		font-weight: bolder;
	}
	.bio {
		margin: 1rem 0;
	}

	.projects_cont,
	.services_cont {
		margin-top: 3rem;
		padding: unset;
	}
	.about_cont {
		margin: 0;
		padding: 0;
	}
	.about_cont2 {
		display: grid;
		grid-template-columns: (1, 2fr 1fr);
	}
	.about-info {
		width: unset;
		grid-template-columns: unset;
		height: min-content;
		align-self: center;
		justify-content: end;
		row-gap: 2rem;
		font-weight: bold;
		letter-spacing: 1px;
	}
	#work {
		display: grid;
		grid-template-columns: repeat(1, 1fr 2fr);
		margin-top: 4rem;
	}

	.skills_cont {
		width: 80%;
		margin: auto;
	}
	.skills_data {
		margin-top: 1.1rem;
	}
	nav li {
		padding-left: 50px;
	}

	.about-proj {
		color: var(--font-color);
	}
	.about-descr {
		width: 100%;
	}
	.about-descr-2 {
		width: 85%;
		margin: 5rem auto;
	}
	#projects,
	#services {
		margin-top: 2rem;
	}
	.line {
		box-shadow: -85px -40px 4px -84px rgb(97, 106, 110);
		position: relative;
		z-index: 12;
		margin: 0px 0 0 4px;
	}

	.sect2 {
		margin-top: 3rem;
	}
	.skills {
		padding: 0;
	}
	.skills_cont {
		width: 85%;
		padding: 0;
	}
	.skills .section-title,
	.about2 .section-subtitle {
		margin: 2rem 0;
	}
	.skills .section-title {
		font-size: 1.5rem;
	}
	.about2 .section-subtitle,
	.timeline {
		width: 100%;
	}
	.about2 .section-subtitle {
		margin-top: 3rem;
		padding-left: 40px;
		text-align: left;
	}
	.work_cont {
		align-items: center;
		padding: 0;
	}
	.work-text {
		text-align: center;
		margin-top: 6rem;
		align-self: center;
	}
	.services_cont .bd-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
		row-gap: 1.3rem;
		column-gap: 3rem;
		justify-content: center;
		height: fit-content;
		padding: 0;
	}

	.right .section-title
	/* .about4 .section-title */ {
		text-align: center;
		font-weight: bolder;
		margin-bottom: 2rem;
		font-size: 2rem;
	}
	.about3 .project-offer {
		margin: 7rem auto;
	}
	.about3 .project-offer-title {
		font-size: 1.5rem;
	}
	.about4 {
		color: var(--font-color);
	}
	.about4 .section-subtitle {
		text-align: center;
		font-weight: bolder;
		text-shadow: none;
		font-size: 2rem;
	}
	.about4 .services_content {
		/* 	background-color: var(--offer-color); */
		color: var(--font-color);
	}

	.services_content:hover {
		background-color: var(--offer-color);

		box-shadow: 0px 0px 10px -1px #42365f;
	}

	.services_content:hover .services_icon {
		color: var(--font-color);
	}

	.services_content:hover .services_title,
	.services_content:hover .services_description {
		color: var(--font-color);
	}
	.project-link {
		align-items: center;
		text-align: right;
		cursor: pointer;

		display: flex;
	}
	.services-link {
		cursor: pointer;
		align-items: center;
		display: flex;
		text-align: center;
		justify-content: center;
	}
	.services-link p:nth-child(2) {
		display: flex;
		align-items: center;
	}

	.services-link i {
		font-size: 2.5rem;
		font-weight: bold;
	}

	.line {
		display: flex;
		flex-direction: row;
	}
	.right {
		order: 2;
		width: 80%;
	}
	.contact {
		opacity: 0;
		transform: translateY(-100%);
		position: absolute;
		padding-top: unset;
	}
	.projects-cards {
		grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	}
}

@media screen and (min-width: 1155px) {
	.sect2 {
		width: 70%;
	}
}
